<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * --> 
<article>

  <h1>Formulario</h1>

  <div id="formularioForm">
    <!-- Nombre Completo -->
    <form [formGroup]="nombres">
      <p id="datosGenerales">
        <input type="text" title="Escriba su nombre." name="nombre" id="name" placeholder="Nombre" maxlength="20" required [formControl]="name01">
        <span class="validity" id="validName"></span>

        <input type="text" title="Escriba su apellido paterno" name="apellidoPaterno" id="name2" placeholder="Apellido Paterno" maxlength="20" required [formControl]="name02">
        <span class="validity" id="validName2"></span>

        <input type="text" title="Escriba su apellido materno" name="apellidoMaterno" id="name3" placeholder="Apellido Materno" maxlength="20" required [formControl]="name03">
        <span class="validity" id="validName3"></span>
    </p>
    </form>
    
    <!-- Direccion General -->
    <form [formGroup]="direcciones01">
      <div id="direcciones1">
        <input type="text" title="Escriba su domicilio" name="calle" id="street" placeholder="Domicilio" maxlength="30" required [formControl]="streetForm">
        <span class="validity" id="validStreet"></span>

        <input type="number" title="Inserte su codigo postal" name="codigoPostal" id="zipCode" placeholder="C.P." min="10000" max="99999" required [formControl]="zipCodeForm">
        <span class="validity" id="validZipCode"></span>
    </div>
    </form>
    
    <!-- Estado y Municipio -->
    <form [formGroup]="Location">
      <div id="direcciones2">
        <fieldset id="stateField">
          <legend id="sfID">Estado</legend>
          <select name="estado" id="state" required [formControl]="stateForm" placeholder="Seleccione un estado" (click)="loadData()">
          <!-- Estados -->
          </select>
          <span class="validity" id="validState"></span>
        </fieldset>

        <fieldset id="municipalityField">
          <legend id="mfID">Municipio</legend>
          <select name="municipio" id="municipality" [formControl]="municipalityForm" placeholder="Seleccione un municipio">
          <!-- Municipios -->
          </select>
        </fieldset>
      </div>
    </form>
    
    <!-- Telefono -->
    <form [formGroup]="extraData">
      <div id="datosExtra">
        <input type="tel" title="Escriba su numero de telefono" name="telefono" id="phone" placeholder="No. de telefono" minlength="10" maxlength="10" required [formControl]="phoneForm">
        <span class="validity" id="validPhone"></span>
      </div>
    </form>
    
    <!-- Genero y Educacion -->
    <form [formGroup]="optionalData">
      <div id="optionalStuff">
        <fieldset id="gender">
          <legend>Sexo</legend>
          <div>
            <input type="radio" name="genero" id="genderMale" value="Hombre" [formControl]="genderForm01">
            <label for="genderMale">Hombre</label>

            <input type="radio" name="genero" id="genderFemale" value="Mujer" [formControl]="genderForm02">
            <label for="genderFemale">Mujer</label>

            <input type="radio" name="genero" id="genderOther" value="Otro" [formControl]="genderForm03">
            <label for="genderOther">Otro</label>
          </div>
        </fieldset>

        <fieldset id="education">
          <legend>Educacion</legend>
          <input type="checkbox" name="education" id="eduSecundaria" value="Secundaria" [formControl]="educationForm01">
          <label for="eduSecundaria">Secundaria</label>

          <input type="checkbox" name="education" id="eduPrepa" value="Preparatoria" [formControl]="educationForm02">
          <label for="eduPrepa">Preparatoria</label>

          <input type="checkbox" name="education" id="eduUni" value="Universidad" [formControl]="educationForm03">
          <label for="eduUni">Universidad</label>
        </fieldset>
      </div>
    </form>
    
    <!-- Botones -->
    <div id="buttons">
      <button id="reset" (click)="OnResetClick()">Limpiar</button>
      <button id="sendForm" (click)="submitApplication()">Enviar</button>
    </div>
  </div>
</article>

<router-outlet />
